body {
  padding: 0;
  margin: 0;
  background-color: #baedda;
}

/**
 * Header.
 */

header .background {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background-image: url("images/Hanauma.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

header .top-shadow {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
  background: linear-gradient(to bottom, rgba(0 0 0 / 98%) 0%, rgba(0 0 0 / 0%) 100%);
}

header h1 {
  position: absolute;
  top: 0;
  z-index: 200;
  width: 100%;
  padding: 23% 0;
  font-size: 40px;
  color: white;
  text-align: center;
}

header #top-nav {
  position: absolute;
  top: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

#top-nav nav {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
}

#top-nav nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 1.8em;
  margin-top: .7em;
  font-size: 20px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#top-nav nav a:hover {
  color: black;
  background-color: #ddd;
}

#top-nav .hamburger {
  display: none;
}

/**
 * Create a CSS style animated hamburger icon.
 * Code based on: https://www.w3schools.com/howto/howto_css_menu_icon.asp
 */

#top-nav .vertical-icon {
  display: none;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

#top-nav .vertical-icon
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: #ddd;
  transition: 0.4s;
}

/* Rotate first bar */
#top-nav.vertical .vertical-icon .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out second bar */
#top-nav.vertical .vertical-icon .bar2 {
  opacity: 0;
}

/* Rotate last bar */
#top-nav.vertical .vertical-icon .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/**
 * Smaller screen size adjustments for header.
 */

@media screen and (width <= 600px) {
  header h1 {
    font-size: 30px;
  }

  header #top-nav {
    align-items: start;
  }

  #top-nav nav {
    flex-direction: column;
    align-items: start;
    justify-content: left;
    margin-right: 0;
  }

  #top-nav nav a {
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    height: 1.3em;
    margin-top: 0;
    text-align: left;
  }

  #top-nav nav a:first-child {
    margin-top: .9em;
  }

  #top-nav.vertical nav a {
    display: flex;
  }

  #top-nav .vertical-icon {
    display: inline-block;
  }

  #top-nav .hamburger {
    display: flex;
  }
}

/**
 * Sections.
 */

section {
  margin-right: 10px;
  margin-left: 20px;
  clear: left;
}

section h2 {
  font-size: 20px;
  text-transform: uppercase;
}

section p {
  font-size: 16px;
}

#about {
  height: 210px;
}

#about .headshot {
  float: left;
  width: 250px;
  margin-right: 1em;
}

#portfolio .portfolio {
  display: flex;
  flex-direction: column;
}

#portfolio .portfolio-item {
  width: 400px;
  text-align: center;
}

#portfolio .portfolio-item img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

/**
 * Footer.
 */

footer {
  width: 100%;
  text-align: center;
  background-color: #1d8fa9;
}

/**
 * Dialog boxes.
 */

dialog {
  width: 380px;
  height: 420px;
  background-color: #78d0d2;
}

dialog h3 {
  margin-block: 0 0;
}

dialog iframe {
  width: 350px;
  height: 300px;
}

dialog button {
  margin-top: 15px;
}
